In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf 
from tensorflow import keras 
from keras.layers import LSTM
from keras.layers import Input, Dense
from keras import Model
import sklearn

# Workflow :
### 1- read and clean the data 
### 2- Visualize the data
### 3- split to train and test datasets
### 4- build and train an LSTM model
### 5- Visualization of the results

In [2]:
df_original = pd.read_csv('GOLD Price (2013-2023).csv')

In [4]:
df_original.head()

         Date     Price      Open      High       Low     Vol. Change %
0  12/30/2022  1,826.20  1,821.80  1,832.40  1,819.80  107.50K    0.01%
1  12/29/2022  1,826.00  1,812.30  1,827.30  1,811.20  105.99K    0.56%
2  12/28/2022  1,815.80  1,822.40  1,822.80  1,804.20  118.08K   -0.40%
3  12/27/2022  1,823.10  1,808.20  1,841.90  1,808.00  159.62K    0.74%
4  12/26/2022  1,809.70  1,805.80  1,811.95  1,805.55      NaN    0.30%